<div class="container">
    <div class="row">
        <div class="col col-6">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Agregar alumno</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" autocomplete="off" #nombre>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" autocomplete="off" #apellido>
                        </div>
                        <div class="form-group">
                            <label for="dni">DNI</label>
                            <input type="text" class="form-control" id="dni" autocomplete="off" #dni>
                        </div>
                        <button type="submit" class="btn btn-primary float-right"
                            (click)="guardarAlumno(nombre.value, apellido.value, dni.value)">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Listado de alumnos</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <app-item-alumno *ngFor="let alumno of listAlumnos" [alumno]="alumno"></app-item-alumno>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
